---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"AAAAAAA","client_id":"***","secret":"***"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "display_message": null,
          "error_code": "INVALID_FIELD",
          "error_message": "client_id must be a properly formatted, non-empty string",
          "error_type": "INVALID_REQUEST",
          "request_id": "CAQuF"
        }
  recorded_at: Mon, 04 Jun 2018 16:14:42 GMT
recorded_with: VCR 4.0.0
