---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-****","client_id":"5b11b99c16042e00112bd3b0","secret":"70e64f47f9d4ae295425c214e1df57"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2018-05-22'
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "access-sandbox-****",
          "item_id": "V3Z5xgWaX1f3MdMzLdaJhm1bX9gAk7CWVzpkR",
          "request_id": "RZoPA"
        }
  recorded_at: Tue, 05 Jun 2018 01:36:01 GMT
recorded_with: VCR 4.0.0
